<!--#layout("/common/layout.html",{"jsBase":"/js/stock/shopConsConfig/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="shop.shopConsConfig.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="shop.shopConsConfig.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="shop.shopConsConfig.del"  action="del">删除</layui:accessButton>
</div>

<table id="shopConsConfigTable" lay-filter="shopConsConfigTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
