<!--# layout("/common/layout.html",{"jsBase":"/js/stock/shopCustomerAccount/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">总额=冻结+可用</label>
				<div class="layui-input-inline">
					<input type="text" id="total" name="total"  value="${shopCustomerAccount.total}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">冻结金额</label>
				<div class="layui-input-inline">
					<input type="text" id="frozen" name="frozen"  value="${shopCustomerAccount.frozen}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">可用金额</label>
				<div class="layui-input-inline">
					<input type="text" id="avaliable" name="avaliable"  value="${shopCustomerAccount.avaliable}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">累计兑换额</label>
				<div class="layui-input-inline">
					<input type="text" id="totalExchange" name="totalExchange"  value="${shopCustomerAccount.totalExchange}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input type="text" id="createTime" name="createTime"  value="${shopCustomerAccount.createTime,"yyyy-MM-dd"}"   class="layui-input input-date" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">更新时间</label>
				<div class="layui-input-inline">
					<input type="text" id="updateTime" name="updateTime"  value="${shopCustomerAccount.updateTime,"yyyy-MM-dd"}"   class="layui-input input-date" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">备注</label>
				<div class="layui-input-inline">
					<input type="text" id="remark" name="remark"  value="${shopCustomerAccount.remark}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
	<input type="hidden" name="delFlag" value=${shopCustomerAccount.delFlag} />
    <input type="hidden" name="customerId" value=${shopCustomerAccount.customerId} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var shopCustomerAccountEdit = layui.edit
    shopCustomerAccountEdit.init();
});
</script>
