<!--#layout("/common/layout.html",{"jsBase":"/js/stock/shopCustomerAccount/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<!--<div class="layui-btn-group">-->
    <!--&lt;!&ndash;<layui:accessButton function="shopCustomerAccount.add"  action="add">增加</layui:accessButton>&ndash;&gt;-->
    <!--&lt;!&ndash;<layui:accessButton function="shopCustomerAccount.edit"  action="edit">编辑</layui:accessButton>&ndash;&gt;-->
    <!--&lt;!&ndash;<layui:accessButton function="shopCustomerAccount.del"  action="del">删除</layui:accessButton>&ndash;&gt;-->
<!--</div>-->

<table id="shopCustomerAccountTable" lay-filter="shopCustomerAccountTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
