.exchange{/*min-height: 100%;*/-webkit-box-sizing: border-box;box-sizing: border-box;background: white;padding-top:1.6rem;}
.exchange img{width:1.76rem;}
.exchange p{font-size: .36rem;margin-top:.4rem;color: #333333;}