<!--# layout("/common/layout.html",{"jsBase":"/js/stock/shopTransportTemplate/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">模板名称</label>
				<div class="layui-input-inline">
					<input lay-verify="required" type="text" name="name" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">运送方式</label>
				<div class="layui-input-inline">
					<input lay-verify="required" type="text" value="快递" name="transportStyle" class="layui-input" >
				</div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">计件方式</label>
                <div class="layui-input-inline">
                    <input lay-verify="required" type="text" value="按件数" name="counterStyle" class="layui-input" >
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">首件（个）</label>
				<div class="layui-input-inline">
					<input lay-verify="required|number" type="text" name="firstCount" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label style="width: 150px" class="layui-form-label">运费（消费金）</label>
				<div class="layui-input-inline">
					<input id="firstPrice" lay-verify="required|number" type="text" name="firstPrice" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">续件（个）</label>
				<div class="layui-input-inline">
					<input id="nextCount" lay-verify="required|number" type="text" name="nextCount" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label style="width: 150px" class="layui-form-label">运费（消费金）</label>
				<div class="layui-input-inline">
					<input id="nextPrice" lay-verify="required|number" type="text" name="nextPrice" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline layui-form-mid layui-word-aux">（人民币与消费金的最低兑换比例为 1:${minRatio}）</div>
                <div class="layui-inline layui-form-mid layui-word-aux"><span style="color:#1E92FB" id="minRatioSpan"></span></div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">备注</label>
				<div class="layui-input-inline">
                    <textarea style="width: 1000px; min-height: 200px;" type="text" name="remark" class="layui-textarea" ></textarea>
				</div>
            </div>
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var shopTransportTemplateAdd = layui.add
    shopTransportTemplateAdd.init();
    var minRatio = parseInt('${minRatio}');
    $("#firstCount").change(function() {
        changeEvent(minRatio);
    });
    $("#firstPrice").change(function() {
        changeEvent(minRatio);
    });
    $("#nextCount").change(function() {
        changeEvent(minRatio);
    });
    $("#nextPrice").change(function() {
        changeEvent(minRatio);
    });
});
//输入变化 联动
function changeEvent(minRatio) {
    var firstCount = $("#firstCount").val();
    var firstPrice = $("#firstPrice").val();
    var nextCount = $("#nextCount").val();
    var nextPrice = $("#nextPrice").val();

    if (firstCount != null && firstCount.indexOf(".")>0){
        $("#firstCount").val(null);
        Common.info("数量必须为整数");
    }
    if (nextCount != null && nextCount.indexOf(".")>0){
        $("#nextCount").val(null);
        Common.info("数量必须为整数");
    }

    if (firstCount!=null && firstPrice!=null && nextCount!=null && nextPrice!= null){
        $("#minRatioSpan").text(firstCount+'件'+firstPrice+'消费金，每增加'+nextCount+'件，加'+nextPrice+'消费金');
    }
}
</script>
