<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>协议</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/css/touch.css">
    <script src="/js/jquery-1.8.3.js"></script>
    <script language="javascript">
        $(document).ready(function(){var width=$(window).width();var fontSize;if(!(width<750)){fontSize="100px"}else{fontSize=width/750*100+"px"};$("html").css("font-size",fontSize);})
        $(window).resize(function(e){var width=$(window).width();var fontSize;if(!(width<750)){fontSize="100px"}else{fontSize=width/750*100+"px"};$("html").css("font-size",fontSize)});
    </script>
</head>
<body>
<div class="flex-outer">
    <!--header-->
    <div class="zzg-header px-border-bttom">
        <div class="back"  onclick="window.location.href='/own/chargeView'">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <polyline points="12,26 4,17 12,8" style="fill:none;stroke:rgb(0,0,0);stroke-width:2"/>
            </svg>
        </div>
        <div class="text">协议</div>
        <!--	<div class="tag">新增</div>-->
    </div>
    <div class="scroll-content" style="background:#fff;">

        <section class="protocol">
            <div class="contact">
                <div class="contact_us">
                    <br />

                    <h2 class="title" align="center">消费金兑换及商品换购协议</h2>
                    <p style="float:right;">协议编号：______</p>
                    <div style="width:100%;height:0;clear:both;"></div>
                    <p>本协议由以下各方于______年 ______月 ______ 日签订</p>

                    <p class="item">甲方（债权人）：________</p>
                    <p class="item">身份证号码：________</p>

                    <p class="item" style="margin-top: 30px;">乙方：北京两只老虎电子商务有限公司</p>

                    <p class="item">社会统一信用代码：9111010809848345XY</p>


                    <h4>鉴于：</h4>
                    <p>鉴于甲方欲将其在两只老虎平台（域名：www.twotiger.com）投资形成的全部/部分债权兑换成消费金，用于换购<span class="red">债债GO商城</span>的商品，双当事人经协商一致，达成如下协议：</p>
                    <p class="item">一、债权确认</p>
                    <p>甲方同意其债权计息至2018年10月17日止，自2018年10月18日起不再计息。</p>
                    <p class="item">二、	消费金兑换</p>
                    <p>1.甲方同意将其在乙方平台出借形成的债权中的______元兑换成债债GO商城______消费金。</p>
                    <p>2.消费金仅适用于债债GO商城的商品换购，不可转让给其他任何第三人，任何转让对乙方均不产生效力，任何使用甲方账号进行的消费金兑换及商品换购的行为均视为甲方行为。</p>
                    <p>3.甲方在兑换消费金前已对债债GO商城的商品及换购对价有所了解，甲方已知晓其将债权兑换成消费金后，乙方不提供将消费金再兑换成债权或现金的服务。</p>
                    <p>4.甲方按本协议约定将其债权兑换成消费金后，其在平台的债权相应减少，债权减少的金额等同于其选择兑换成消费金的金额。当甲方选择将其债权中的一部分进行消费金兑换时，兑换的债权顺序依次为个人消费贷、企业经营贷、企业信用贷、精选周转贷、甄选企业贷、臻选精英贷，同一贷款类型的，按债权到期的先后顺序置换。</p>
                    <p class="item">三、	商品换购</p>
                    <p>1.甲方可通过两只老虎手机APP登陆债债GO商城浏览商品并进行商品换购。</p>
                    <p>2.债债GO商城的商品只能用甲方兑换的消费金进行换购，商品换购所需消费金以债债GO商城显示为准。</p>
                    <p>3.债债GO商城中的商品图片仅供参考，请以实物为准。</p>
                    <p>4.债债GO商城的商品，由各商品供应商提供，其质量、数量、款式、颜色、售后服务等问题均由供应商负责。若商品出现问题，乙方可协助处理。</p>
                    <p>5.若甲方拍下商品后30分钟内未支付，视为甲方取消订单，系统将自动为甲方取消订单。</p>
                    <p>6.商品换购正常的<span class="red">处理周期为正常7-10个工作日内</span>，如遇节假日自动顺延。</p>
                    <p>7.甲方在此同意，债债GO商城展示的商品、价格等信息仅是要约邀请，甲方换购商品时选择欲换购的商品、换购价款、数量、规格、型号、收货人、联系方式、收货地址等内容，系统生成的订单仅是甲方发出的要约，只有在供应商将甲方订单中订购的商品出库时，方视为甲方与供应商之间就实际发出的商品建立了合同关系。</p>
                    <p>8.乙方有权在发现债债GO商城展示的商品缺货、商品信息明显错误或用户订单信息明显错误的情况下单方面取消订单而不需向用户承担任何责任，在此情况下，乙方将尽力协调以满足用户需求。</p>
                    <p>9.商品换购成功后，由相应的供应商以快递形式邮寄，供应商若收取快递费，则快递费由甲方承担并以消费金进行支付。</p>
                    <p>10.换购商品的配送仅限于中国大陆地区（不包含港、澳、台）。</p>
                    <p>11.甲方收到换购商品后，应当面确认商品的包装是否完好，一旦签收后，商品若无质量问题不予退换相应商品。</p>
                    <p>12.收货人与甲方不一致的，甲方应对收货人的行为及意思表示产生的法律后果承担连带责任。</p>
                    <p>13.因以下情况造成商品无法配送或出现任何不合理的延迟等，乙方及供应商不承担相应责任：（1）甲方提供的订单上的信息错误、地址不详细等原因导致的；（2）货物送达后无人签收，导致无法配送或延迟配送的；（3）不可抗力因素导致的。</p>
                    <p>14.甲方可通过两只老虎APP的“债债GO”查询兑换详情、消费记录等信息。</p>
                    <p>15.乙方保留更换部分换购商品或调整换购商品所需消费金的权利，具体以债债GO商城展示为准，乙方不再另行通知。</p>
                    <p class="item">四、违约责任</p>
                    <p>除本协议另有约定外，如甲乙双方中任何一方违反本协议，违约方应向非违约方赔偿相应的损失，但由于乙方对商城进行测试、升级、更新、服务抽样测试，对甲方产生影响的除外，但乙方应尽量减少测试、升级、更新、服务抽样测试的频次和时间。</p>
                    <p>五、不可抗力</p>
                    <p>1.本协议所称“不可抗力”是指本协议双方不能控制或不可预见，或虽可预见但不可避免地妨害一方全部或部分履行本协议的一切事件。此种事件只包括地震、塌方、陷落、洪水、台风、天文异常等自然灾害以及火灾、爆炸、事故、战争、恐怖事件、大规模流行性疫病、破坏活动、黑客入侵、网络崩溃、政府命令或任何其他类似的或不同的偶发事件。</p>
                    <p>2.任何一方由于不可抗力的原因不能履行合同时，应及时向对方通报不能履行或不能完全履行的理由，根据情况可部分或全部免予承担违约责任。</p>
                    <p>3.若一方违约在先，不得以此后发生不可抗力为由免除其违约责任。</p>
                    <p>4.提出受不可抗力影响的一方应尽一切合理的努力减轻影响。发生不可抗力，双方应立即进行磋商，寻求一切公正的解决方案，并且尽一切合理的努力将不可抗力的影响降至最小。</p>
                    <p class="item">六、争议解决</p>
                    <p>因本协议履行过程中产生的任何争议，由合同各方协商解决，也可由有关部门调解。协商或调解不成的，应向北京市朝阳区人民法院起诉。</p>
                    <p class="item">七、其他</p>
                    <p>1.本协议未尽事宜，双方可另行协商达成补充协议，补充协议与本协议不一致的地方，以补充协议为准。</p>
                    <p>2.双方使用CA数字证书及电子签名并根据两只老虎平台设置程序签署完毕本协议后，本协议立即生效。</p>

                    <!-- <table border='1'cellspacing="0" cellpadding="0" width="1000">
                                <tbody>
                                    <tr>
                                        <td><p align="center">序号</p></td>
                                        <td><p align="center">协议名称</p></td>

                                        <td><p align="center">协议编号</p></td>


                                    </tr>
                                    <tr>
                                        <td><p align="center">&nbsp;</p></td>
                                        <td><p align="center"></p></td>

                                        <td><p align="center"></p></td>

                                    </tr>


                            </table>  -->


                    <h4>甲方：</h4>
                    <h4>乙方：北京两只老虎电子商务有限公司</h4>


                    <br />
                    <br />

                </div>
            </div>
        </section>

    </div>

</div>
<!--  -->

</body>
</html>
